<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flashy | #{title}
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css",integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header.main-header
            nav.main-header_nav
                ul.main-header_item-list
                    li.main-header_item
                        a(href="/") Flashy Admin
                    if !currentUser
                        li.main-header_item
                            a(href="register") Sign Up
                    if currentUser
                        li.main-header_item
                            a(href="admin/cards") Test Bank
                        li.main-header_item
                            a(href="/logout") Log Out
                    else
                        li.main-header_item
                            a(href="signin") LogIn

        // content block
        block content

        // footer
        footer
            p Designed & Developed by 
                a(href="https://jadekang.me") Jade Kang
