

block styles
    link(rel="stylesheet", href="css/main.css")

nav.main-header_nav
    button
        .container
            a(href='/')
                i Flash Admin
            .nav-header_item
                if !currentUser
                    a(href='register') Sign Up
                a(href='cards') Test Bank
                a(href='about') About
                a(href='profile') Profile
            if currentUser
                a(href='/logout') Log out
            else 
                a(href='signin') LogIn