nav
    button
        .container
            a(href='/')
                i Flash Admin
            .nav-items.clearfix
                a(href='register') Sign Up
                a(href='cards') Test Bank
                a(href='about') About

            a(href='signin') LogIn