nav
    button
        .container
            a(href='/')
                i Flash Admin
            .nav-items.clearfix
                if !currentUser
                    a(href='register') Sign Up
                a(href='cards') Test Bank
                a(href='about') About
                a(href='profile') Profile
            if currentUser
                a(href='/logout') Log out
            else 
                a(href='signin') LogIn