extends layout

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/signin.css")

block content
    .main
        .left-box
        .right-box
            .form
                h1 Sign In
                form(method="POST" action="/signin")
                    .form-group
                        label(for="email") Username 
                        input(type='email' id='email' placeholder='username' name='username')
                    .form-group
                        label(for="email") Password 
                        input(type='password' id='password' placeholder='password' name='password')
                    .btn-div
                        button.signin-btn(type='submit') Sign in